nav.columns
    .column.has-text-centered
        .box
            p.heading Tweets
            p.title 3,456
    .column.has-text-centered
        .box
            p.heading Following
            p.title 123
    .column.has-text-centered
        .box
            p.heading Followers
            p.title 456K
    .column.has-text-centered
        .box
            p.heading Likes
            p.title 789
