nav.navbar
  .navbar-brand
    a.navbar-item(href="./")
      img(src="https://placehold.it/122x28?text=LOGO" alt="Bulma: Free, open source, & modern CSS framework based on Flexbox" width="112" height="28")
    a.navbar-burger(role="button" aria-label="menu" aria-expanded="false")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
